<div class="romance">

  <!-- HERO -->
  <section class="hero">
    <h1>Next time together in</h1>

    <div class="countdown" *ngIf="!celebrationToday && nextVisit">
      <span>{{ countdown.days }}</span> days
    </div>

    <p *ngIf="celebrationToday">🎉 We are seeing each other today! 🎉</p>

    <p class="hero-note" *ngIf="nextVisit && !celebrationToday">
      {{ nextVisit.note }}
    </p>

    <small>
     <b> {{ nextVisit?.startDate  | date:'fullDate' }}</b>
      <span *ngIf="nextVisit?.city"> — <b> {{ nextVisit?.city }} </b></span>
    </small>

    <button class="cta" routerLink="/notes">
      Reveal all love notes 💌
    </button>
  </section>

  <!-- FLOATING BALLOON NOTES -->
<section class="floating-stats">
  <div 
    *ngFor="let note of recentNotes"
    [ngClass]="note.user === 'Partner' ? 'partner' : 'you'">
    💬 {{ note.message }}
  </div>
</section>


</div>
