
<div class="container my-4">

  <!-- DRAW CARD -->
  <div class="card shadow-sm draw-card">
    <div class="card-body">

      <!-- CONTROLS -->
<div class="controls">

  <div class="control-group">
    <label>Brush</label>
    <input type="color" [(ngModel)]="brushColor">
  </div>

  <div class="control-group">
    <label>Size</label>
    <input type="number" [(ngModel)]="brushSize" min="1" max="50">
  </div>

  <div class="button-row">
    <button class="btn" (click)="toggleEraser()">
      {{ erasing ? 'Eraser On' : 'Eraser Off' }}
    </button>

    <button class="btn" (click)="clearCanvas()">Clear</button>
    <button class="btn" (click)="saveDrawing()">Save</button>
    <button class="btn" (click)="downloadCanvas()">Download</button>
  </div>

</div>


      <!-- CANVAS -->
      <canvas
        #canvas
        (mousedown)="startDraw($event)"
        (mousemove)="draw($event)"
        (mouseup)="stopDraw()"
        (mouseleave)="stopDraw()"
        (touchstart)="startDraw($event)"
        (touchmove)="draw($event)"
        (touchend)="stopDraw()"
      ></canvas>

    </div>
  </div>

</div>
